.principal {    
    width: 400px;
    height: 400px;
    background-color: #6555A0;
    border-radius: 10px;
    position: fixed;
    left: 50%;
    top: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.grid-item{
    width: 100px;
    height:  100px;
    background-color: #8067DA;   
    border:2px solid; 
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 3px;
}
.grid-container{
    grid-template-columns: auto auto auto;
    display: grid;
    margin:0px auto;
    background-color: #8067DA;   
    border-radius: 10px;
    position: absolute;
    border-bottom: transparent;
    border-color: transparent;
    
}

label{
    color: bisque;
}
body{
    background-color: #161320;
}

marquee{
    color: azure;
    font-family: sans-serif;   
}

#e1,#e2,#e3{
    border-top: transparent;   
}
#e3,#e6,#e9{   
    border-right: transparent;
}
#e1,#e4,#e7{
    border-left: transparent;
}
#e8,#e9,#e7{
    border-bottom: transparent;
}

.reset{
    width: 50x;
    position:absolute; /*El div será ubicado con relación a la pantalla*/
    left:48%; /*A la derecha deje un espacio de 0px*/
    
    bottom:0px; /*Abajo deje un espacio de 0px*/
    height:50px; /*alto del div*/
}